# SERVER CONFIG
PORT=8080

# PERSISTENCE (MySQL)
DB_URL=jdbc:mysql://localhost:3306/bd
DB_USER=user
DB_PASSWORD=password

# PERSISTENCE (MongoDB - RAG)
MONGO_URI=mongodb://localhost:27017/tu_bd_rag

# AZURE OPENAI (Pasado al proceso de Python)
API_KEY=
DEPLOYMENT_NAME=
API_EXTERN_MAIN_ENDPOINT=
AZURE_OPENAI_API_VERSION=

# PYTHON INTEGRATION
PYTHON_EXECUTABLE=python
PYTHON_SCRIPT_PATH=../backend-python/chatbot-mejorado.py
PYTHON_API_URL=http://localhost:5000/ask
PYTHON_VENV_PATH=./backend-python/venv/Scripts/python